@import url('https://fonts.googleapis.com/css?family=Flamenco|Mrs+Sheppards');
.brand-box {
    position: absolute;
    font-family: 'Mrs Sheppards', cursive;
    color: #fff;
    padding: 30px 50px;
    font-size: 60px;
}